:root {
  font-size: 11pt;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 20px 0 60px;

  background-color: #fff;
}

body {
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 7.5mm 10mm;

  background-color: #fff;
  color: #444;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025),
    0px 11px 15px -7px rgba(0, 0, 0, 0.1), 0px 24px 38px 3px rgba(0, 0, 0, 0.07),
    0px 9px 46px 8px rgba(0, 0, 0, 0.06);

  font-family: "atc-arquette";
  font-kerning: normal;
  font-size: 1rem;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 5.5rem 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  align-content: center;
}

header {
  grid-column: 2 / 3;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
p.headline {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.025rem;
  text-transform: lowercase;

  margin: 0;
}
p.headline {
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  margin: 0.25rem 0 0;
}

h2 {
  font-size: 1rem;
  text-transform: lowercase;
  text-align: right;
  letter-spacing: 0.025rem;
}

h3 {
  margin-top: -0.435rem;
  font-size: 1.4rem;
  letter-spacing: 0.025rem;
}
* + h3 {
  margin-top: 1.25rem;
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
ul + h4 {
  margin-top: 0.75rem;
}
p + h4 {
  margin-top: 0.75rem;
}

p {
  margin: 0 0 0.5rem;
}

b {
  letter-spacing: 0.025rem;
}

dl {
  margin: 0.5rem 0 0;
  display: flex;
  justify-content: space-between;

  font-weight: 500;
}
dl > div {
  display: flex;
}
dt {
  text-transform: lowercase;
}
dd {
  margin: 0 0 0 0.25rem;
}

dl > div:first-of-type a {
  color: #328ef4;
}
dl > div:nth-of-type(2) a {
  color: #5063e7;
}
dl > div:nth-of-type(3) a {
  color: #7034d9;
}
dl > div:last-of-type a {
  color: #9e20cc;
}

.right {
  text-align: right;
  float: right;
  clear: both;
}

ul {
  margin: 0 0 0 1.2rem;
  padding: 0;
}
* + ul {
  margin-top: 0.2rem;
}
ul:last-of-type {
  margin-bottom: 0;
}

li {
  padding-left: 0.15rem;
  margin-bottom: 0.25rem;
}
li:last-of-type {
  margin-bottom: 0;
}
ul.no-spacing li {
  margin: 0;
}

.tabbed {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2.5rem;
}

a {
  color: #07f;
  font-weight: 500;

  text-decoration: none;
}

@media print {
  html {
    padding: 0;
  }
  body {
    box-shadow: none;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #000;
    color: rgba(255, 255, 255, 0.8);
  }
  body {
    background: #222;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  p.headline {
    color: #fff;
  }
}
