:root {
  --font-family-serif: "Kenac", ui-serif, serif;
  --font-family-sans: "Yellix TRIAL", ui-sans-serif, system-ui, -apple-system,
    sans-serif;

  font-size: 11pt;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 20px 0 60px;

  background-color: #fdc;
}

body {
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 5mm 7.5mm;

  background-color: #fdc;
  color: #24160f;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
    0 25px 50px -12px rgba(0, 0, 0, 0.25), 0 50px 80px rgba(0, 0, 0, 0.06);

  font-family: var(--font-family-sans);
  font-feature-settings: "dlig", "swsh", "ss01", "ss04", "ss07", "ss11",
    "liga" 1;
  letter-spacing: 0.02em;
  font-kerning: normal;
  font-size: 1rem;
  line-height: 1.5;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
  align-content: center;
}

header {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-column-gap: 1.5rem;
  align-items: end;
}

hr {
  grid-column: -1 / 1;

  margin: 0;
  border: none;
  border-bottom: 0.125rem solid currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-weight: 500;
  font-size: 2.18rem;
  line-height: 1;

  margin: 0;
}
p.headline {
  font-size: 1.36rem;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1.36rem;
  margin-top: -0.32rem;
}
* + h3 {
  margin-top: 1.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
ul + h4 {
  margin-top: 0.75rem;
}
p + h4 {
  margin-top: 0.75rem;
}

p {
  margin: 0 0 0.5rem;
}

b {
  letter-spacing: 0.025rem;
}

dl {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-column-gap: 0.75rem;
  margin: 0;

  font-size: 0.9rem;
}
dd {
  margin: 0;
}

.right {
  text-align: right;
  float: right;
  clear: both;
}

ul {
  margin: 0 0 0 1.2rem;
  padding: 0;
}
* + ul {
  margin-top: 0.2rem;
}
ul:last-of-type {
  margin-bottom: 0;
}

li {
  padding-left: 0.15rem;
  margin-bottom: 0.25rem;
}
li:last-of-type {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-underline-offset: 0.067em;
  text-decoration-thickness: 0.1em;
}

@media print {
  html {
    padding: 0;
  }
  body {
    box-shadow: none;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #000;
    color: #fdc;
  }
  body {
    background: #111;
  }
}
