:root {
  font-size: 11pt;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 20px 0 60px;

  background-color: #fff;
}

body {
  width: 210mm;
  min-height: 297mm;
  margin: 0 auto;
  padding: 0 10mm;

  background-color: #fff;
  color: #000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025),
    0px 11px 15px -7px rgba(0, 0, 0, 0.1), 0px 24px 38px 3px rgba(0, 0, 0, 0.07),
    0px 9px 46px 8px rgba(0, 0, 0, 0.06);

  font-family: 'atc-arquette';
  font-kerning: normal;
  font-size: 1rem;
  line-height: 1.5;

  display: grid;
  grid-template-columns: 20mm 1fr;
  grid-column-gap: 6mm;
  grid-row-gap: 10mm;
  align-content: center;
}

header {
  grid-column: 2 / 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1;

  margin: 0 0 0.5rem;
}
h1.headline {
  font-size: 1.6rem;
  font-weight: 400;

  margin-bottom: 2rem;
}

h2 {
  font-size: 1rem;
  text-transform: lowercase;
  text-align: right;
}

h3 {
  margin-top: -0.275rem;
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

dl {
  margin: 0;

  display: grid;
  grid-column-gap: 5mm;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}
dt {
  text-transform: lowercase;
  font-weight: bold;
}
dd {
  margin: 0;
}
dd a {
  font-weight: bold;
}

dd:first-of-type a {
  color: #328ef4;
}
dd:nth-of-type(2) a {
  color: #5063e7;
}
dd:nth-of-type(3) a {
  color: #7034d9;
}
dd:last-of-type a {
  color: #9e20cc;
}

.right {
  text-align: right;
  float: right;
}

ul {
  margin: 0 0 0 4.5mm;
  padding: 0;
}
* + ul {
  margin-top: 0.5rem;
}
* ~ ul {
  margin-bottom: 1.5rem;
}
ul:last-of-type {
  margin-bottom: 0;
}
ul.nested {
  margin-left: 4.75mm;
}

li {
  padding-left: 0;
  margin-bottom: 1rem;
}
li:last-of-type {
  margin-bottom: 0;
}
ul.no-spacing li {
  margin: 0;
}

.tabbed {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10mm;
}

a {
  color: #07f;
  font-weight: 500;

  text-decoration: none;
}

@media print {
  html {
    padding: 0;
  }
  body {
    box-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #000;
    color: #fff;
  }
  body {
    background: #222;
  }
}
